{{>header-area}}
<!-- End header area -->
{{>mainmenu}}

<!-- Page content -->
<div class="container">
    <div class="col-md-4">
        <img width="400" height="400" style="vertical-align: middle" src="img/about.jpg">
    </div>
    <div class="col-md-6">
        <h2>Lưu Tuấn Nguyên</h2>
        </br>
        <h2>Đại học Khoa học Tự nhiên</h2>
        </br>
        <h2>1612434</h2>
    </div>
</div>
<!-- End page content -->

{{>footer-top}}
<!-- End footer top area -->
{{>footer-bot}}
<!-- End footer bottom area -->
