<div class="search-bar">
    <form class="form-inline row" action="">
        <div class="form-group">
            <input name="name" type="text" class="form-control search-input" id="searchName" placeholder="">
        </div>

        <div class="form-group">
            <select name="price" class="form-control search-input" id="searchPrice">
                <option value='' selected>Chọn tác giả</option>
                <option value="200_400">Thiên Tằm Thổ Đậu</option>
                <option value="400_600">Đường Gia Tam Thiếu</option>
            </select>
        </div>

        <div class="form-group">
            <select name="type" class="form-control search-input" id="searchType">
                <option value='' selected>Chọn loại</option>
                <option value="IC">Huyền Huyễn</option>
                <option value="TF">Ngôn Tình</option>
            </select>
        </div>

        <span>
            <button type="submit" class="btn btn-success search-button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form>
</div>